<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load in UIKIT CSS JS -->
    <%- include('partials/_HEAD.ejs') %>

    <title>TEST</title>
</head>

<body>

    <%- include('partials/_NAVBAR.ejs') %>
    <br>
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div uk-grid>
                <!-- Loop trough products and display on home -->
                <%- include('partials/_PRODUCTDISPLAYHOME.ejs') %>
            </div>
        </div>
    </div>


    <%- include('partials/_REGISTERMODAL.ejs') %>
    <%- include('partials/_LOGINMODAL.ejs') %>


</body>

</html>